.seperator {
	position: absolute;
	border-top: 1px solid #e3e3e4;
	width: 400px;
	height: 1px;
	top: 740px;
	left: 140px;
}

.container-icons {
	display: flex;
	position: absolute;
	top: 790px;
	left: 218px;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	margin-top: 1px;
	width: 42px;
	height: 42px;
	border: 2px solid #e3e3e4;
	border-radius: 50%;
	font-size: 18px;
	color: #131821;
	opacity: 0.3;
}
