<h1 class="heading">Subscribe to newsletter</h1>
<h2 class="subheading">Subscribe to our newsletter and get 10% discount on pineapple glasses.</h2>
<div class="container-input">
    <form action="#">
        <div class="form-subscribe">
            <input class="input-email" type="email" name="email" placeholder="Type your email address here...">
            <button class="btn-subscribe"><i class="icon-ic_arrow"></i></button>
        </div>
        <div class="container-checkbox">
            <div class="checkbox">
                <input class="checkbox-standart" type="checkbox" name="terms" checked="checked">
                <i class="icon-ic_checkmark"></i>
            </div>
            <div class="text">I agree to <a class="link" href="#">terms of service</a></div>
        </div>
    </form>
</div>