<h1 class="heading">Subscribe to newsletter</h1>
<h2 class="subheading">Subscribe to our newsletter and get 10% discount on pineapple glasses.</h2>
<div class="container-input">
    <form action="#">
        <div class="form-subscribe">
            <input class="input-email" type="email" name="email" placeholder="Type your email address here...">
            <button class="btn-subscribe"><i class="icon-ic_arrow"></i></button>
        </div>
        <div class="container-checkbox">
            <label class="checkbox-label">
                <span class="checkbox-span">
                    <input class="checkbox-standart" id="terms" type="checkbox" name="terms" checked="checked">
                    <span class="checkbox-custom">
                        <i class="icon-ic_checkmark"></i>
                    </span>
                </span>
            </label>
            <label for="terms"><span class="text">I agree to <a class="link" href="#">terms of
                        service</a></span></label>
        </div>
    </form>
</div>