$color-primary: #4066a5;
$color-base1: #131821;
$color-base2: #6a707b;
$color-base3: #e3e3e4;
$color-base4: #f2f5fa;

.menu-list {
	list-style-type: none;
	//display: flex;
	//align-items: flex-end;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin: 15px 2px 0px 28px;

		color: $color-base2;

		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;
		color: $color-base2;
		//opacity: 0.5;
	}
}

.top-bar {
	display: flex;
	width: 480px;
	height: 40px;
	margin: 99px 0 0 100px;
	justify-content: flex-end;
}

.logo-pineapple {
	flex-grow: 1;
	display: flex;
	justify-self: flex-start;
	width: 118px;
	height: 40px;
}
