body {
	margin: 0;
	//box-sizing: border-box;
	background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
}

$color-primary: #4066a5;
$color-base1: #131821;
$color-base2: #6a707b;
$color-base3: #e3e3e4;
$color-base4: #f2f5fa;

app-root {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.subheading {
	width: 400px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	/* identical to box height, or 175% */

	color: $color-base1;

	opacity: 0.5;
}

.heading {
	width: 399px;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 44px;
	/* identical to box height, or 137% */
}

.text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	/* or 175% */

	color: $color-base2;
}

.paragraph {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	/* identical to box height, or 175% */

	color: $color-base1;

	opacity: 0.5;
}

.text-mobile {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	/* or 186% */

	color: #6a707b;
}

.link {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	/* identical to box height, or 175% */

	text-decoration: underline solid #131821 .14em;

	color: #131821;
}

.pineapple {
	width: 78px;
	height: 16px;
	margin: 20px 0 0 15px;
	background: #131821;
	background: url(/assets/img/pineapple.svg);
}

.union {
	width: 25px;
	height: 40px;
	background: $color-primary;
	background: url(/assets/img/union.svg);
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	margin-top: 1px;
	width: 42px;
	height: 42px;
	border: 2px solid #e2e3e4;
	border-radius: 50%;
	font-size: 18px;
	color: #131821;
	opacity: 0.3;
}

.seperator {
	border-top: 1px solid #e3e3e4;
	margin: 16px 0 0 140px;
	width: 400px;
	height: 1px;
}

.container-icons {
	display: flex;
	margin: 48px 0 0 218px;
}
